<section id="endorsehero">
  <div class="container-fluid endorseheadercont">
    <div class="container endorseherocont pt-5 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12 col-sm-12 col-12">
          <h1 class="endorsetext">ENDORSEMENTS</h1>
        </div>
        <div class="col-lg-8 col-md-12 col-sm-12 col-12">
          <p class="endorsesubtext">Lorem ipsum dolor sit amet, consectetur adipiscing
            elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Adipiscing diam donec
            adipiscing tristique risus nec. Habitasse platea
            dictumst vestibulum rhoncus est pellentesque elit.
            Dui sapien eget mi proin. Condimentum vitae sapien
            pellentesque habitant.<br>
            <br>
            Lorem ipsum dolor sit amet, consectetur adipiscing
            elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Adipiscing diam donec
            adipiscing tristique risus nec. Habitasse platea
            dictumst vestibulum rhoncus est pellentesque elit.
            Dui sapien eget mi proin. Condimentum vitae sapien
            pellentesque habitant. </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="endorsementlogos">
  <div class="container-fluid p-0">
    <div class="row">
      <!-- First container -->
      <div class="col-lg-5 col-md-12 endorsement-container">
        <div class="container-fluid">
          <!-- Your content here -->
        </div>
      </div>
      <!-- Second container -->
      <div class="col-lg-7 col-md-12">
        <div class="container-fluid orggridbackground">
          <div class="row justify-content-center">
            <div class="col-10 pt-5 pb-5">
              <h1 class="aboutbethh1">ORGANIZATIONS</h1>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-lg-2 col-md-6 col-sm-6 col-6 logo-container-home">
              <%= link_to cl_image_tag("Beth For Mayor/Kennet_for_Mayor_Dark_Logo_3x_drjcwj", alt: "LatinxEd Logo", class: "logo"), 'https://latinxed.org/', target: "_blank" %>            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 col-6 logo-container-home">
              <%= link_to cl_image_tag("Beth For Mayor/Kennet_for_Mayor_Dark_Logo_3x_drjcwj", alt: "LatinxEd Logo", class: "logo"), 'https://latinxed.org/', target: "_blank" %>            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 col-6 logo-container-home">
              <%= link_to cl_image_tag("Beth For Mayor/Kennet_for_Mayor_Dark_Logo_3x_drjcwj", alt: "LatinxEd Logo", class: "logo"), 'https://latinxed.org/', target: "_blank" %>            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 col-6 logo-container-home">
              <%= link_to cl_image_tag("Beth For Mayor/Kennet_for_Mayor_Dark_Logo_3x_drjcwj", alt: "LatinxEd Logo", class: "logo"), 'https://latinxed.org/', target: "_blank" %>            </div>
          </div>
          <div class="row justify-content-center pt-5">
            <div class="col-lg-2 col-md-6 col-sm-6 col-6 logo-container-home">
              <%= link_to cl_image_tag("Beth For Mayor/Kennet_for_Mayor_Dark_Logo_3x_drjcwj", alt: "LatinxEd Logo", class: "logo"), 'https://latinxed.org/', target: "_blank" %>            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 col-6 logo-container-home">
              <%= link_to cl_image_tag("Beth For Mayor/Kennet_for_Mayor_Dark_Logo_3x_drjcwj", alt: "LatinxEd Logo", class: "logo"), 'https://latinxed.org/', target: "_blank" %>            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 col-6 logo-container-home">
              <%= link_to cl_image_tag("Beth For Mayor/Kennet_for_Mayor_Dark_Logo_3x_drjcwj", alt: "LatinxEd Logo", class: "logo"), 'https://latinxed.org/', target: "_blank" %>            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 col-6 logo-container-home">
              <%= link_to cl_image_tag("Beth For Mayor/Kennet_for_Mayor_Dark_Logo_3x_drjcwj", alt: "LatinxEd Logo", class: "logo"), 'https://latinxed.org/', target: "_blank" %>            </div>
          </div>
          <div class="row justify-content-center pt-5">
            <div class="col-lg-2 col-md-6 col-sm-6 col-6 logo-container-home">
              <%= link_to cl_image_tag("Beth For Mayor/Kennet_for_Mayor_Dark_Logo_3x_drjcwj", alt: "LatinxEd Logo", class: "logo"), 'https://latinxed.org/', target: "_blank" %>            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 col-6 logo-container-home">
              <%= link_to cl_image_tag("Beth For Mayor/Kennet_for_Mayor_Dark_Logo_3x_drjcwj", alt: "LatinxEd Logo", class: "logo"), 'https://latinxed.org/', target: "_blank" %>            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 col-6 logo-container-home">
              <%= link_to cl_image_tag("Beth For Mayor/Kennet_for_Mayor_Dark_Logo_3x_drjcwj", alt: "LatinxEd Logo", class: "logo"), 'https://latinxed.org/', target: "_blank" %>            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 col-6 logo-container-home">
              <%= link_to cl_image_tag("Beth For Mayor/Kennet_for_Mayor_Dark_Logo_3x_drjcwj", alt: "LatinxEd Logo", class: "logo"), 'https://latinxed.org/', target: "_blank" %>            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
