<section id="endorsehero">
  <div class="container-fluid endorseheadercont">
    <div class="container endorseherocont pt-5 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12 col-sm-12 col-12">
          <h1 class="endorsetext">ENDORSEMENTS</h1>
        </div>
        <div class="col-lg-8 col-md-12 col-sm-12 col-12">
          <p class="endorsesubtext">
            Backed by community leaders and advocacy organizations, our campaign focuses on three key pillars: a strong economy to attract investors, enhanced community safety through engagement, and accessible affordable housing. Our endorsers share this vision and are committed to transforming Burlington into a thriving, inclusive community.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="endorsementlogos">
  <div class="container-fluid p-0">
    <div class="row">
      <!-- First container -->
      <div class="col-lg-5 col-md-12 endorsement-container">
        <div class="container-fluid">
          <!-- Your content here -->
        </div>
      </div>
      <!-- Second container -->
      <div class="col-lg-7 col-md-12">
        <div class="container-fluid orggridbackground">
          <div class="row justify-content-center">
            <div class="col-10 pt-5 pb-5">
              <h1 class="aboutbethh1">ORGANIZATIONS</h1>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-lg-2 col-md-6 col-sm-6 col-6 logo-container-home">
              <%= link_to cl_image_tag("Beth For Mayor/englogo_bn2qvs", alt: "Equality NC Logo", class: "logo"), 'https://equalitync.org/', target: "_blank" %>            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 col-6 logo-container-home">
              <%= link_to cl_image_tag("Beth For Mayor/lclgxgzakvkancltigh5", alt: "Down Home North Carolina Logo", class: "logo"), 'https://downhomenc.org/', target: "_blank" %>            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 col-6 logo-container-home">
              <%= link_to cl_image_tag("Beth For Mayor//replacementspaclogo_adloog", alt: "replacements pac Logo", class: "logo"), 'https://replacementsltdpac.org/', target: "_blank" %>            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 col-6 logo-container-home">
              <%= link_to cl_image_tag("Beth For Mayor/siembralogo_snjola", alt: "Beth Logo", class: "logo"), 'https://www.siembranc.org/', target: "_blank" %>            </div>
          </div>
          <div class="row justify-content-center pt-5">
            <div class="col-lg-2 col-md-6 col-sm-6 col-6 logo-container-home">
              <%= link_to cl_image_tag("Beth For Mayor/Kennet_for_Mayor_Dark_Logo_3x_drjcwj", alt: "Beth Logo", class: "logo"), '', target: "_blank" %>            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 col-6 logo-container-home">
              <%= link_to cl_image_tag("Beth For Mayor/Kennet_for_Mayor_Dark_Logo_3x_drjcwj", alt: "Beth Logo", class: "logo"), '', target: "_blank" %>            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 col-6 logo-container-home">
              <%= link_to cl_image_tag("Beth For Mayor/Kennet_for_Mayor_Dark_Logo_3x_drjcwj", alt: "Beth Logo", class: "logo"), '', target: "_blank" %>            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 col-6 logo-container-home">
              <%= link_to cl_image_tag("Beth For Mayor/Kennet_for_Mayor_Dark_Logo_3x_drjcwj", alt: "Beth Logo", class: "logo"), '', target: "_blank" %>            </div>
          </div>
          <div class="row justify-content-center pt-5">
            <div class="col-lg-2 col-md-6 col-sm-6 col-6 logo-container-home">
              <%= link_to cl_image_tag("Beth For Mayor/Kennet_for_Mayor_Dark_Logo_3x_drjcwj", alt: "Beth Logo", class: "logo"), '', target: "_blank" %>            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 col-6 logo-container-home">
              <%= link_to cl_image_tag("Beth For Mayor/Kennet_for_Mayor_Dark_Logo_3x_drjcwj", alt: "Kennett For Mayor Logo", class: "logo"), '', target: "_blank" %>            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 col-6 logo-container-home">
              <%= link_to cl_image_tag("Beth For Mayor/Kennet_for_Mayor_Dark_Logo_3x_drjcwj", alt: "Kennett For Mayor Logo", class: "logo"), '', target: "_blank" %>            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 col-6 logo-container-home">
              <%= link_to cl_image_tag("Beth For Mayor/Kennet_for_Mayor_Dark_Logo_3x_drjcwj", alt: "Kennett For Mayor Logo", class: "logo"), '', target: "_blank" %>            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
