<div class="container-fluid topbar d-flex align-items-center justify-content-center" id="topbar">
  <div class="row">
    <div class="col-12 text-center">
      <p class="mb-0" id="animatedText">BETH KENNETT FOR BURLINGTON CITY MAYOR</p>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid navbar-container">
    <div class="d-flex justify-content-between align-items-center w-100">
      <div class="container logo-box m-0">
        <a class="navbar-brand" href="<%= root_path %>"><%= cl_image_tag("Beth For Mayor/Kennet_for_Mayor_Dark_Logo_3x_drjcwj", alt: "Beth For Mayor Logo")%></a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link link-hover active" aria-current="page" href="<%= root_path %>">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-hover" href="<%= about_path %>">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-hover" href="<%= vision_path %>">Vision</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-hover" href="<%= endorsements_path %>">Endorsements</a>
          </li>
          <!--
<li class="nav-item">
  <a class="nav-link link-hover" href="<%= events_path %>">Events</a>
</li>
-->
          <li>
            <a class="btn donate-btn donate-hover" href="https://secure.actblue.com/donate/bethkennettwebsite" role="button" target="_blank">DONATE</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
